<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ckx.checkcar">

    <!-- bugly start -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- bugly end -->

    <!-- xutils3 start -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- xutils3 end -->

    <!-- zbar start -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- zbar end -->

    <!-- umeng start -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- umeng end -->

    <application
        android:allowBackup="true"
        android:name="com.ckx.checkcar.CoachFitAholApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ckx.checkcar.mvp.activity.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.ckx.checkcar.mvp.activity.SimpleScannerActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.ckx.checkcar.mvp.activity.welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name="com.ckx.checkcar.mvp.activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="com.ckx.checkcar.mvp.activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
        </activity>


        <!-- umeng meta data start -->
        <meta-data android:value="YOUR_APP_KEY" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="${UMENG_CHANNEL_VALUE}" android:name="UMENG_CHANNEL"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <!-- umeng meta data end -->

    </application>

</manifest>